.idea/

01-dog-breed-classifier/dog-breed-classifier-densenet121.h5
02-springfield-classifier/springfield-classifier-efficientnet-weights.pth
03-image-caption-generator/captions-ru-12k-train.pkl
03-image-caption-generator/captions-ru-12k-val.pkl
03-image-caption-generator/ru-12k-features-inception.pkl
03-image-caption-generator/ru-12k-features-vgg16.pkl
03-image-caption-generator/bleu-0512229-vgg16.h5
03-image-caption-generator/bleu-0507810-inception.h5
